@use "../abstracts/variablies" as *;
body {
  max-width: 1440px;
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
}

.container {
  gap: 30px;
  padding: 2%;
  border: 1px solid orange;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(28, 1fr);
}

.grid-item {
  border-radius: 25px;
  border: 1px solid red;
  background-color: white;
  box-shadow: 2px 3px 28px 3px rgba(14, 66, 199, 0.51);
  -webkit-box-shadow: 2px 3px 28px 3px rgba(14, 66, 199, 0.51);
  -moz-box-shadow: 2px 3px 28px 3px rgba(14, 66, 199, 0.51);
  padding: 10px;
  color: black;
  font-size: $font-size;
  display: flex;
}

.grid-item:nth-child(1) {
  grid-row: 1/8;
  @include a;
  flex-direction: column;

  .image {
    height: 350px;
    width: 100%;
    background-color: aqua;
   
  }
 .context{
  text-align: left;
  justify-content: left;
  align-items: flex-start;
 }
}

.grid-item:nth-child(2) {
  grid-row: 8/15;
}
.grid-item:nth-child(3) {
  grid-row: 15/27;
}
.grid-item:nth-child(4) {
  grid-row: 1/5;
  // position: relative;
  top: 5%;
  // background-color: red;
  z-index: 1;
}
.grid-item:nth-child(5) {
  grid-row: 1/3;
  // position: relative;
  top: 5%;
  // background-color: rgb(35, 51, 35);
  z-index: 1;
}
.grid-item:nth-child(6) {
  grid-column: 2/-1;

  position: relative;
  top: 5%;
  // background-color: rgb(182, 195, 182);
  z-index: 1;
}
.grid-item:nth-child(7) {
  grid-column: 2/-1;
  grid-row: 6/17;
  // position: relative;
  top: 5%;
  // background-color: rgb(21, 31, 45);
  z-index: 1;
}

.grid-item:nth-child(8) {
  grid-column: 2/-1;
  grid-row: 17/18;
  // position: relative;
  top: 5%;
  // background-color: rgb(210, 214, 218);
  z-index: 1;
}
.grid-item:nth-child(9) {
  grid-column: 2/-1;
  grid-row: 18/24;
  // position: relative;
  top: 5%;
  // background-color: rgb(49, 116, 183);
  z-index: 1;
}
