$color: black;
$bg-color: rgb(90, 90, 239);
$font-size:18px;
body{
  background-color: green;
}
main {
  background-color: $bg-color;
  h1 {
    color: $color;
  }
}
@mixin a{
 display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}